*{
	font-family: 'Helvetica Neue', arial, sans-serif;
	padding: 0;
	margin: 0;
}

h1 {
	padding: 10px;
	font-size: 60px;
	font-weight: 400;
	text-align: center;
	background-color: #f02e65;
	color: white;
	margin-bottom: 60px;
}

.add-blog-btn{
	width: 100px;
	margin-left: 20px;
	cursor: pointer;
}

.add-blog-btn:hover{
	background-color: white;
	color: #f02e65;
}

.delete-btn{
	width: 30px;
	margin-left: 20px;
	cursor: pointer;
	border-radius: 50px;
	color: #f02e65;
	border: 1px solid #f02e65;
	min-width: 80px;
	height: 40px;
}

.cont{
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.signup{
	border: 1px solid #E2E2E2;
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	gap: 20px;
}

.fields{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 10px;
}

input{
	text-indent: 10px;
	width: 300px;
	height: 40px;
	border: none;
	border-radius: 50px;
	background-color: rgba(2, 2, 2, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.02);
	font-size: 17px;
}

.login{
	border: 1px solid #E2E2E2;
	width: 350px;
	display: flex;
	gap: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.signup-form{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 350px;
	height: 80px;
	font-size: 30px;
	color: white;
	background-color: #f02e65;
	border: 1px solid #f02e65;
}

.login-form{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 350px;
	height: 80px;
	font-size: 30px;
	color: white;
	background-color: #f02e65;
	border: 1px solid #f02e65;
}

.links{
	color: #f02e65;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 10px;
}

.inp{
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
}

.blog-inp{
	text-indent: 10px;
	width: 480px;
	height: 45px;
	border: none;
	border-radius: 50px;
	background-color: rgba(2, 2, 2, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.02);
	font-size: 17px;
}

input:focus{
	outline: none;
}

p{
	font-size: 15px;
}

.strike{
	color: rgb(141, 134, 134);
}

.add-blog-btn{
	border-radius: 50px;
	color: white;
	background-color: #f02e65;
	border: 1px solid #f02e65;
	min-width: 80px;
	height: 40px;
}

.signup-btn{
	margin-top: 30px;
	width: 260px;
	margin-bottom: 40px;
	height: 35px;
	font-size: 15px;
	border: none;
	border-radius: 50px;
	cursor: pointer;color: white;
	background-color: #f02e65;
	border: 1px solid #f02e65;
}

.signup-btn:hover{
	background-color: white;
	color: #f02e65;
}

.have-acc{
	margin-bottom: 10px;
}

.goal-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
}

.goal-cont{
	min-height: 100vh;
	width: 600px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media screen and (max-width: 880px) {
	.goal-cont{
		width: 500px;
	}
  }

.blogs-cont{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e3d4d8;
}

.goal{
	font-size: 17px;
}



