*{
	font-family: 'Helvetica Neue', arial, sans-serif;
	padding: 0;
	margin: 0;
}

h1 {
	padding: 10px;
	font-size: 60px;
	font-weight: 400;
	text-align: center;
	background-color: #f02e65;
	color: white;
	margin-bottom: 60px;
}


.circle {
	width: 50%;
	height: 70%;
	position: absolute;
	background: #f02e65;
	border-radius: 0 0 100% 0;
  }
  
  .form {
	background-color: #fff;
	margin: auto;
	width: 90%;
	max-width: 400px;
	padding: 4.5em 3em;
	border-radius: 10px;
	box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
	text-align: center;
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.877);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12.2px);
	-webkit-backdrop-filter: blur(12.2px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	transition: 1s;
  }
  .form:hover {
	transform: scale(1.02);
	transition: 1s;
  }
  
  .form__title {
	font-size: 2rem;
	margin-bottom: 0.5em;
  }
  .form__container {
	margin-top: 3em;
	display: grid;
	gap: 2.5em;
  }
  .form__group {
	position: relative;
	color: #5757577e;
  }
  .form__input {
	width: 100%;
	background: none;
	--color: #706c6c;
	font-size: 1rem;
	padding: 0.6em 0.3em;
	border: none;
	outline: none;
	border-bottom: 1px solid var(--color);
	font-family: "Roboto", sans-serif;
  }
  .form__input:not(:placeholder-shown) {
	color: #4d4646;
  }
  
  .form__input:focus + .form__label,
  .form__input:not(:placeholder-shown) + .form__label {
	transform: translateY(-12px) scale(0.7);
	transform-origin: left top;
	color: #f02e65;
  }
  .form__label {
	color: var(--color);
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 5px;
	transform: translateY(10px);
	transition: transform 0.5s, color 0.3s;
  }
  .form__submit {
	background: #f02e65;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 1rem;
	padding: 0.8em 0;
	border: none;
	border-radius: 0.5em;
  }
  .form__line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #f02e65;
	transform: scale(0);
	transform: left bottom;
	transition: transform 0.4s;
  }
  
  .form__input:focus ~ .form__line,
  .form__input:not(:placeholder-shown) ~ .form__line {
	transform: scale(1);
  }
  @media (max-width: 425px) {
	.form__title {
	  font-size: 1.8rem;
	}
  }

.add-blog-btn{
	width: 100px;
	margin-left: 20px;
	cursor: pointer;
}

.add-blog-btn:hover{
	background-color: white;
	color: #f02e65;
}


.cont{
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.links{
	color: #f02e65;
	text-decoration: none;
	cursor: pointer;
	margin-bottom: 10px;
}

.inp{
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
}

.blog-inp{
	text-indent: 10px;
	width: 480px;
	height: 45px;
	border: none;
	border-radius: 50px;
	background-color: rgba(2, 2, 2, 0.07);
    border: 1px solid rgba(0, 0, 0, 0.02);
	font-size: 17px;
}

input:focus{
	outline: none;
}

p{
	font-size: 15px;
}

.strike{
	color: rgb(141, 134, 134);
}

.add-blog-btn{
	border-radius: 50px;
	color: white;
	background-color: #f02e65;
	border: 1px solid #f02e65;
	min-width: 80px;
	height: 40px;
}


.have-acc{
	margin-bottom: 10px;
}

.goal-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
}

.goal-cont{
	min-height: 100vh;
	width: 600px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media screen and (max-width: 880px) {
	.goal-cont{
		width: 500px;
	}
  }

.blogs-cont{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e3d4d8;
}

.goal{
	font-size: 17px;
}



